@import 'layout/header';
@import 'layout/slider';
@import 'layout/hero';
@import 'layout/category';
@import 'layout/cta';
@import 'layout/about';
@import 'layout/video';
@import 'layout/price';
@import 'layout/choose';
@import 'layout/funfact';
@import 'layout/contact';
@import 'layout/event';
@import 'layout/team';
@import 'layout/faq';
@import 'layout/career';
@import 'layout/class';
@import 'layout/work';
@import 'layout/blog';
@import 'layout/feature';
@import 'layout/newsletter';
@import 'layout/error';
@import 'layout/mobilemenu';
@import 'layout/footer';
@import 'layout/checkout';
@import 'layout/brand';
@import 'layout/testimonial';


@import 'flaticon_mycollection';
@import 'flaticon_xoft';
@import 'font-awesome-pro';
@import 'hover-reveal';
@import 'meanmenu';
@import 'nice-select';
@import 'spacing';
@import 'components/theme';
@import 'components/spacing';
@import 'components/buttons';
@import 'components/animation';
@import 'components/preloader';
@import 'components/background';
@import 'components/offcanvas';
@import 'components/breadcrumb';
@import 'components/accordion';
@import 'components/search';
@import 'components/tab';
@import 'components/tab';


@import 'components/_malla';
@import 'components/_Tarjeta';
@import 'components/section-title';
@import 'components/_AlumniCard';
@import 'components/_KnowUs';
@import 'components/_oportunidades';

@import 'custom-animation';
@import 'node_modules/react-modal-video/scss/modal-video.scss';
